/* Generic CSS */

.quotes:before {
	width: 0px !important;
}

.quote-center {
	text-align: center;
	/*margin-top: 15px;*/
	margin-bottom: 10px;
}

.quote-right {
	text-align: right;
	/*margin-bottom: 15px;*/
}

.between {
	height: 180px;
}

.logo-design {
	height: 50%;
	width: 50%;
}

.details {
    margin-bottom: 20px;
}

.location {
	margin-top: 20px;
}

.payment {
	display: block;
	margin: 20px auto;
}

.contact {
	text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/*.sign-up {
	background-color: #9a8a09;
}*/

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.self {
	height: 50%;
	width: 50%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actions {
	text-align: center;
}