/* Generic CSS */

.quotes:before {
	width: 0px !important;
}

a.button.icon {
  margin:0 auto;
  display:block;
}

.contact.button.icon {
  width: 50%;
}

#corporate-category, #family-category {
  margin-bottom: 10px;
}

.quote-center {
	text-align: center;
	/*margin-top: 15px;*/
	margin-bottom: 10px;
}

.quote-right {
	text-align: right;
	/*margin-bottom: 15px;*/
}

.between {
	height: 180px;
}

.logo-design {
	height: 50%;
	width: 50%;
}

.details {
    margin-bottom: 20px;
}

.location {
	margin-top: 20px;
}

.payment {
	display: block;
	margin: 20px auto;
}

.contact {
	text-align: center;
}

.self {
	height: 50%;
	width: 50%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actions {
	text-align: center;
}

.modal-contact ul.icons {
  text-align: center;
}

.modal-contact ul.icons li a {
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    font-size: small;
  }

/* FAQ accordion */
.accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
