.between {
	height: 180px;
}

.logo-design {
	height: 50%;
	width: 50%;
}

@media screen and (max-width: 1680px) {
	.image.left img {
		width: 100%;
	}

}

@media screen and (max-width: 736px) {
	.image.left img {
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.image.left img {
		width: 83%;
	}
}